<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dudu Tabajara Uploader</title>
    </head>

    <body>
        <!-- Lista de arquivos -->
        {% if imagens %}
            <ul>
                <h1>Imagens</h1>
                {% for imagem in imagens %}
                <p><a href={{ imagem.img.url }}><img src={{ imagem.img.url }} ></a></p>
                {% endfor %}
            </ul>
        {% else %}
            <p>Sem arquivos.</p>
        {% endif %}

        <!-- Upload form -->
        <form action="{% url 'galeria' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.img.label_tag }} {{ form.img.help_text }}</p>

            <p>
                {{ form.img.errors }}
                {{ form.img }}
            </p>


            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
